body{
	font:88%/13px arial,sans-serif;
	color: #676767;
	padding-bottom: 20px;
	margin: 20;
}
a{
	text-decoration: none;
	cursor: pointer;
	color: #2f3888;
}
/* start header */
.header{
	height: 46px;
	width: 100%;
}
h1{
	padding-top: 20px;
}
/* end header */
/* start navigation */
.nav{
	margin: 0;
	padding: 0 0 0 220px;
	list-style: none;
	height: 30px;
	line-height: 30px;
	position: absolute;
	top: 28px;
}
.nav li{
	display: inline;
	font-weight: bold;
	font-size: 13px;
	width: 145px;
	float: left;
	border: 1px solid #c7c8ca;
}
.nav li a{
	color: #000000;
	float: left;
	padding-left: 18px;
	width: 127px;
}
.nav li a:hover{
	background-position: 0 100%;
	text-decoration: underline;
}
/* end navigation */
.configuration{
	display: inline;
	padding-top: 5px;
	position:relative;
}
.content{
	float: left;
	line-height: 1.5em;
	display: inline;
	position:relative;
	width:100%;

}
label{
	width: 7em;
	float: left;
	text-align: left;
	margin-right: 0.5em;
	display: block;
}
table{
	font-size:12px;
	text-align:left;
	border-collapse:collapse;
	width:100%;
}
table th{
	font-weight:normal;
	font-size:13px;
	color:#039;
	background:#b9c9fe;padding:8px;
}
table td{
	background:#e8edff;
	color:#000000;
	padding:8px;
	border-top:1px solid #b9c9fe;
	border-bottom:1px solid #b9c9fe;
	border-left:1px solid #b9c9fe;
	border-right:1px solid #b9c9fe;
}
#table-highlight tbody tr:hover td{
	background:#d0dafd;
}